body {
    font-family: serif;
    color: #fff; 
}
.home{
    height: 100vh;
    width: 100%;
    background-color: #f0f0f0;
}
.inner-div1{
    height: 50%;
    width: 100%;
    background-color: #7EC4F5;
    position: absolute;
    left: 0%;
    color: red;
    text-align: center;
}
.inner-div2{
    width: 60%;
    height: 80%;
    position: relative;
    top: 10%;
    left: 20%;
    background-color: #7EC4F5;
    border-radius:1em;
      box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
      display: flex;
}
.inner-div3{
    width: 45%;
    height: 100%;
    font-weight: bold;
    font-family:sans-serif;
    font-size: 2em; /* Set the font size */
    text-align: center; /* Align the text to the center */
    margin-top: 8%; 
    color: #000;
}
.inner-div4{
    width: 55%;
    height: 100%;
    background-color: white; /* Color of the box */
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3); 
    border-radius:1em;
    
}
.inner-div5{
    width: 100%;
    height: 5%;
    font-family: sans-serif;
    font-size: 1.8em;
    text-align:center;
    color: #7A24F2;
    margin-top: 3%;
}
.inner-div6{
    width: 70%;
    height: 80%;
  
    position: relative;
    left: 15%;
    top: 10%;
}
.inner-div7{
    width: 100%;
    height: 5vh;
    color: #000;
    font-size: 1.2em;
    margin-top: 5%;
    
}
.inner-div7 input{
   
    width: 90%;
    height: 2em;
    border: 1px solid #7A24F2;
    position: relative;
    top: 1%;
    float:right;
}
.inner-div7 i{
    font-size: 1.2em;
    position: relative;
    left: 1.3%;
    margin-top: 2%;
    color: black;
}
.inner-div7 label{
    position: absolute;
    left: 10%;
    font-family: serif;

}
.inner-div7 a{
    font-family: serif;
    text-decoration: none;
     color: inherit;
     font-size: 1.1em;
}
#s-sb{
    background-color: #43058E;
    width: 70%;
}
.inner-div8{
    width: 45%;
    height: 70%;
    position: absolute;
    left: 0%;
    top: 25%;
}
.inner-div9{
    width: 80%;
    height: 15%;
   color: black;

    position: relative;
    left: 10%;

    font-size: 1.3em;
   
    margin-bottom: 10px;
}
.inner-div9 i{
    float: left;
    position: relative;
    top: 22%;
    margin-left: 10%;
}
.inner-div9 label{
    font-family: sans-serif;
    position: relative;
    top: 15%;
    text-indent: 1.1em;
}
@media (max-width: 767.98px) {
    .inner-div2{
        width: 80%;
        left: 10%;
    }
    .inner-div3{
        display: none;
    }
    .inner-div8{
        display: none;
    }
    .inner-div4{
        width: 100%;
        height: 100%;
        position: absolute;
    }
    #sim{
        font-size: 17px;
    }
    .inner-div7 {
        margin-top: 15px;
    }
    .inner-div7 a {
        font-size: 17px;
        position: relative;
        bottom: 15px;
        right: 20px;
    }
    .inner-div7 i{
        display: none;
    }
 .container {
        min-height: 100vh;
        overflow-y: auto;
        box-sizing: border-box;
        padding-bottom: 50px; /* Add padding to avoid content being hidden by keyboard */
    }
    .keyboard-open .container {
        padding-bottom: 0; /* Remove padding when keyboard is open */
    }
}